<style type="text/css">
.small-text {
	font-size: x-small;
	font-weight: bold;
}
</style>
<div align="center">
	<table width="383">
	  <tbody>
		<tr >
		  <td width="50%"><b>Terms and agreements.</b><br />
			<span class="small-text">If you do not agree with these terms you are not allowed to donate.</span></td>
		  </tr>
		<tr >
		  <td><div >
			<textarea name="textarea" cols="60" rows="12" readonly="true" wrap="physical" font-family="verdana">* If you are under 18 years old you need to have your parents permission.
* You are not allowed to donate with money that does not belong to you.
* We do not sell items or points, this is a donation.
* If you lose any donation items you will not get it back.
* We have the rights to modify any of the donation items.
* We have the rights to change the prices whenever we want.
* We have the rights to reset the server whenever we want.
* We have the rights to change the terms and agreements whenever we want.
* We do not refund any payments, donations.</textarea>
			<center>
				<form action="?subtopic=points&system=paypal" method="post">
					<input type="hidden" name="agree" value="1" />
					<input value="I Agree" type="submit">
				</form>
			</center>
		</div>
		</td>
		</tr>
	  </tbody>
	</table>
</div>