<div id="HelperDivContainer" style="background-image: url(plugins/better-downloads-page/images/global/content/scroll.gif);">
	<div class="HelperDivArrow" style="background-image: url(plugins/better-downloads-page/images/global/content/helper-div-arrow.png);"></div>
	<div id="HelperDivHeadline"></div>
	<div id="HelperDivText"></div>
	<center><img class="Ornament" src="plugins/better-downloads-page/images/global/content/ornament.gif" alt="Ornament"></center><br>
</div>
