<br/><br/><br/>
<center>
	<div>
		<button type="button" class="btn btn-link">
			<a href="?p=items&type=head">
				Helmets
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="?p=items&type=body">
				Armors
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="?p=items&type=legs">
				Legs
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="?p=items&type=feet">
				Boots
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="?p=items&type=shield">
				Shields
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="?p=items&type=weapon">
				Weapons
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="?p=items&type=ring">
				Rings
			</a>
		</button>
		<button type="button" class="btn btn-link">
			<a href="?p=items&type=necklace">
				Necklace
			</a>
		</button>
	</div>
</center>
