body {
	font-size: 17px;
	font-family: 'arial',sans-serif;
	color: #b1b1b1;
	background: #333;
}

hr {
    border-top: 1px solid #2a2b2a;
    border-bottom: 1px solid #777878;
}

a {
	text-decoration: none;
	color: #4dadc2;
}

body, ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

.container {
	width: 1100px;
	margin: 5em auto;
	min-height: 100px;
	padding: 0 5px;
}

.main {
	padding: 10px;
	background: url('../img/tbg.png');
	border: 2px solid;
}

.header {
	height: 350px;
	background: url('../img/header.png');
	margin-bottom: 10px;
	border: 5px solid #565656;
}

.window {
	margin: 0 auto;
	min-height: 100px;
	border: 1px solid;
	position: relative;
}

.innerWindow {
	position: absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	border: 2px solid;
	z-index: 0;
}

.windowHeader,
.windowFooter {
	z-index: 2;
	background: #24242466;
	color: #8f8f8f;
	text-align: center;
}
.windowHeader {
	position: relative;
	border-bottom: 1px solid #292929;
}

.windowFooter {
	border-top: 1px solid #292929;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.useBorder {
	border: 1px solid;
}

.innerBox, form input:not([type="submit"]),
form input[type="submit"]:active,
.leftPane .windowBody > ul > li > a:hover {
	border-bottom-color: #737373 !important;
	border-right-color: #737373 !important;
	border-top-color: #2d2d2d !important;
	border-left-color: #2d2d2d !important;
}

.outerBox, input[type="submit"],
.leftPane .windowBody > ul > li > a,
table, td {
	border-bottom-color: #2d2d2d !important;
	border-right-color: #2d2d2d !important;
	border-top-color: #737373 !important;
	border-left-color: #737373 !important;
}

.windowBody {
	padding: 10px;
	position: relative;
	z-index: 2;
}

.windowBody > .window {
	margin-bottom: 10px;
}

.windowBody > .window .windowHeader{
	background: #0303031a !important;
}

.leftPane .windowBody > ul > li > a {
    display: block;
	color: #91a3ba;
	padding: 5px;
	margin-bottom: 5px;
	border:1px solid;
}

.preventCollapse {
	overflow: hidden;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.leftPane {
	width: 25%;
}

.leftPane > .window,
.rightPane > .window {
	margin-bottom: 10px;
}

.rightPane {
	width: 73%;
}

form input:not([type="submit"]),
form input:not([type="image"]) {
	font-size: 16px;
	background: transparent;
	border: 1px solid;
	padding: 5px;
	margin-bottom: 5px;
	color: #b0b0b0;
}

form input[type="submit"] {
    width: 100%;
    height: 30px;
    background: none;
    border: 1px solid;
    font-size: 1em;
	color: #aaa;
}

.top5g {
	width: 175px;
	height: 130px;
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.centralizeContent {
	text-align: center;
}

table, tr, td {
	background: none !important;
}

td {
	border:1px solid;
}

#footer {
	text-align: center;
}

.news_image {
	height: 22px;
	vertical-align: middle;
}

.ErrorMessage {
	background-color: red;
	color: black;
}
