<div style="text-align: center"><h1>Gifts</h1></div>

<div style="float:right;">
	<span style="color: green; font-weight: bold">Your premium points: </span>{{ user_premium_points|raw }}
</div>
<br/><br/>
