<div style="text-align: center;">
	<h1>Payment was successful</h1>

	<p class="success">
		Thank you for purchasing Premium Points on our server.<br>
		Premium Points have already been added to your account.<br>
		We wish you a nice game!
	</p>
</div>
