#main #loading {
    display: none;
    height: 23px;
    width: 23px
}
#slider_wrapper {
    width: 708px;
    height: 205px;
    margin-bottom: 10px
}
#slider {
    overflow: hidden
}
.clear {
    clear: both;
    height: 0;
    overflow: hidden
}
*:focus {
    outline: none
}
.avatar {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 3px
}
.fluxslider,
.surface,
.images,
.image1,
.image2 {
    -webkit-transform: translate3D(0, 0, 0);
    -moz-transform: translate3D(0, 0, 0);
    -o-transform: translate3D(0, 0, 0);
    -ms-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0)
}
input[type=radio] {
    background-color: transparent !important
}
.pagination {
    display: none
}
.caption {
    padding: 10px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    position: absolute;
    bottom: 0
}
#slider_next,
#slider_previous {
    border-radius: 2px;
    position: absolute;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, .6);
    z-index: 9999999
}
#slider_next:hover,
#slider_previous:hover {
    background-color: #000
}
#pm_username_autocomplete {
    z-index: 999999
}
.characters_remaining {
    float: left;
    margin-top: 17px;
    margin-left: 1px;
    font-size: 10px;
    font-weight: 700
}
.popup {
    width: 270px;
    display: none;
    z-index: 999999;
    padding: 20px;
    background-color: #eee;
    border: 1px solid #fff;
    position: fixed;
    left: 50%;
    text-shadow: none;
    margin-left: -120px;
    top: 30%;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 35px #000;
    -webkit-box-shadow: 0px 0px 35px #000;
    -moz-box-shadow: 0px 0px 35px #000
}
.popup h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
    max-height: 300px;
    overflow: auto
}
.popup a {
    display: block;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    line-height: 1;
    padding: 10px 20px;
    text-align: center;
    font-weight: 700;
    margin-right: 7px;
    margin-left: 7px;
    width: 50px;
    text-shadow: none
}
.popup a:hover {
    text-shadow: none;
    text-decoration: none;
    color: #fff
}
.popup_button {
    background-color: #7fbf4d;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
    background-image: -webkit-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -moz-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -ms-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: -o-linear-gradient(top, #7fbf4d, #63a62f);
    background-image: linear-gradient(top, #7fbf4d, #63a62f);
    border: 1px solid #63a62f;
    border-bottom: 1px solid #5b992b;
    -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
    -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
    -ms-box-shadow: inset 0 1px 0 0 #96ca6d;
    -o-box-shadow: inset 0 1px 0 0 #96ca6d;
    box-shadow: inset 0 1px 0 0 #96ca6d;
    text-shadow: 0 -1px 0 #4c9021
}
.popup_button:hover {
    background-color: #76b347;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
    background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
    background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
    background-image: linear-gradient(top, #76b347, #5e9e2e);
    -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
    -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
    -ms-box-shadow: inset 0 1px 0 0 #8dbf67;
    -o-box-shadow: inset 0 1px 0 0 #8dbf67;
    box-shadow: inset 0 1px 0 0 #8dbf67
}
.popup_button:active {
    border: 1px solid #5b992b;
    border-bottom: 1px solid #538c27;
    -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
    -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
    -ms-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
    -o-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee;
    box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eee
}
.popup_hide {
    background-color: #bfbfbf;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfbfbf), color-stop(100%, #9a9a9a));
    background-image: -webkit-linear-gradient(top, #bfbfbf, #9a9a9a);
    background-image: -moz-linear-gradient(top, #bfbfbf, #9a9a9a);
    background-image: -ms-linear-gradient(top, #bfbfbf, #9a9a9a);
    background-image: -o-linear-gradient(top, #bfbfbf, #9a9a9a);
    background-image: linear-gradient(top, #bfbfbf, #9a9a9a);
    border: 1px solid #9a9a9a;
    border-bottom: 1px solid #9a9a9a;
    -webkit-box-shadow: inset 0 1px 0 0 #cbcbcb;
    -moz-box-shadow: inset 0 1px 0 0 #cbcbcb;
    -ms-box-shadow: inset 0 1px 0 0 #cbcbcb;
    -o-box-shadow: inset 0 1px 0 0 #cbcbcb;
    box-shadow: inset 0 1px 0 0 #cbcbcb;
    text-shadow: 0 -1px 0 #8f8f8f
}
.popup_hide:hover {
    background-color: #adadad;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #adadad), color-stop(100%, #a0a0a0));
    background-image: -webkit-linear-gradient(top, #adadad, #a0a0a0);
    background-image: -moz-linear-gradient(top, #adadad, #a0a0a0);
    background-image: -ms-linear-gradient(top, #adadad, #a0a0a0);
    background-image: -o-linear-gradient(top, #adadad, #a0a0a0);
    background-image: linear-gradient(top, #adadad, #a0a0a0);
    -webkit-box-shadow: inset 0 1px 0 0 #bbb;
    -moz-box-shadow: inset 0 1px 0 0 #bbb;
    -ms-box-shadow: inset 0 1px 0 0 #bbb;
    -o-box-shadow: inset 0 1px 0 0 #bbb;
    box-shadow: inset 0 1px 0 0 #bbb
}
.popup_hide:active {
    border: 1px solid #a0a0a0;
    border-bottom: 1px solid #8b8b8b;
    -webkit-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eee;
    -moz-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eee;
    -ms-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eee;
    -o-box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eee;
    box-shadow: inset 0 0 8px 4px #8c8c8c, 0 1px 0 0 #eee
}
.popup_links {
    width: 214px;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto
}
#popup_bg {
    background-color: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
    top: 0;
    left: 0
}
#alert_button {
    float: none;
    width: 80px;
    margin-left: auto;
    margin-right: auto
}
#tooltip,
.tooltip {
    padding: 7px;
    background-color: #070c21;
    background-color: rgba(7, 12, 33, .9);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #777;
    border-top: 1px solid #cfcfcf;
    -webkit-box-shadow: 0px 0px 3px #000;
    -moz-box-shadow: 0px 0px 3px #000;
    box-shadow: 0px 0px 3px #000;
    color: #fff;
    font-size: 12px;
    line-height: 1.5
}
#tooltip {
    position: absolute;
    display: none;
    z-index: 99999
}
.nice_button img {
    margin-right: 5px
}
.page_form table {
    width: 60%;
    margin-left: auto;
    margin-right: auto
}
.page_form table td:first-child {
    padding-left: 20px;
    width: 20%
}
.page_form label {
    font-size: 14px;
    margin-right: 15px
}
#forgot {
    margin-top: 15px;
    margin-bottom: 5px
}
#remember_me {
    margin-top: 5px;
    margin-bottom: 5px
}
.realm {
    font-size: 12px;
    margin: 0 auto 0px auto;
    margin-bottom: 5px;
    margin-top: 5px
}
.realm_online {
    float: right;
    font-weight: 700
}
.realm_bar,
.poll_bar {
    margin-top: 5px;
    margin-bottom: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px
}
.realm_bar_fill,
.poll_bar_fill {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    height: 8px
}
#realmlist {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 20px;
    margin-bottom: 5px
}
.online_realm_button,
#ucp_characters h1 {
    display: block;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    font-size: 14px;
    text-align: center
}
.online_realm_button:first-child {
    margin-top: 0
}
.nice_table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px
}
.nice_table tr:first-child td {
    font-weight: 700;
    padding: 7px;
    font-size: 14px
}
.nice_table tr:not(:first-child) td {
    padding: 7px;
    font-size: 14px;
    height: 40px
}
.nice_table td:first-child {
    font-weight: 700
}
#shoutbox form {
    text-align: center;
    margin-bottom: 10px
}
#shoutbox form textarea {
    margin-top: 5px;
    height: 16px
}
#shoutbox form input[type=submit] {
    margin-top: 4px
}
#shoutbox .shout {
    padding: 10px;
    font-size: 11px;
    overflow: hidden
}
#shoutbox .shout .shout_author {
    margin-bottom: 5px;
    font-size: 12px
}
#shoutbox .shout .shout_date {
    float: right;
    font-size: 10px
}
#shoutbox #shoutbox_view {
    font-size: 14px;
    text-align: center;
    display: block;
    padding-top: 10px;
    margin-bottom: 5px;
    clear: both
}
.shout_characters_remaining {
    float: left;
    margin-top: 14px;
    font-size: 10px;
    width: 50px
}
#shout {
    overflow: hidden
}
#toppvp {
    overflow: hidden
}
.toppvp_select {
    padding-bottom: 10px;
    font-size: 14px;
    padding-top: 4px
}
.toppvp_realm {
    float: left;
    width: 208px;
    text-align: center;
    font-size: 12px
}
.toppvp_next {
    float: right;
    font-size: 14px
}
.toppvp_previous {
    float: left;
    font-size: 14px
}
.toppvp_character {
    padding: 10px;
    font-size: 10px;
    text-align: left
}
.toppvp_character:first-child {
    border-top: none
}
.toppvp_character b {
    margin-right: 7px
}
.q {
    color: #ffd100
}
.q0,
.q0 a {
    color: #9d9d9d
}
.q1,
.q1 a {
    color: #fff
}
.q2,
.q2 a,
.q2:hover {
    color: #1eff00
}
.q3,
.q3 a {
    color: #0070dd
}
.q4,
.q4 a {
    color: #a335ee
}
.q5,
.q5 a {
    color: #ff8000
}
.q6,
.q6 a {
    color: #e5cc80
}
.q7,
.q7 a {
    color: #e5cc80
}
.q8,
.q8 a {
    color: #ffff98
}
.q9,
.q9 a {
    color: #71d5ff
}
.q10,
.q10 a {
    color: #ffd100
}
.socket-meta {
    padding-left: 26px;
    background: url(../images/socket_meta.gif) no-repeat left center
}
.socket-red {
    padding-left: 26px;
    background: url(../images/socket_red.gif) no-repeat left center
}
.socket-yellow {
    padding-left: 26px;
    background: url(../images/socket_yellow.gif) no-repeat left center
}
.socket-blue {
    padding-left: 26px;
    background: url(../images/socket_blue.gif) no-repeat left center
}
.fusioneditor .fusioneditor_tools {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    border: 1px solid #999;
    border-bottom: none;
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topleft: 2px;
    -moz-border-radius-topright: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px
}
.fusioneditor {
    width: auto
}
.fusioneditor .fusioneditor_tools a {
    display: block;
    float: left;
    margin-left: 5px;
    padding: 5px;
    padding-bottom: 0;
    padding-top: 4px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s
}
.fusioneditor .fusioneditor_tools a:hover {
    border: 1px solid #b7b7b7;
    background-color: #fff;
    box-shadow: 0px 1px 0px #fff inset;
    -webkit-box-shadow: 0px 1px 0px #fff inset;
    -moz-box-shadow: 0px 1px 0px #fff inset
}
.fusioneditor .fusioneditor_tools a:active {
    border: 1px solid #666
}
.fusioneditor .fusioneditor_field {
    width: auto;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 12px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #999;
    -webkit-border-bottom-right-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    overflow: hidden
}
.fusioneditor .fusioneditor_field:focus {
    border: 1px solid #1f9ebc
}
.fusioneditor .fusioneditor_close {
    float: right;
    margin-right: 5px
}
.fusioneditor .fusioneditor_toolbox {
    border-top: 1px solid #999;
    padding: 5px;
    margin-top: 5px;
    height: 50px
}
.fusioneditor .fusioneditor_toolbox input[type=text] {
    width: 85% !important;
    margin-right: 10px;
    margin-left: 5px
}
.fusioneditor .fusioneditor_size {
    height: 20px;
    width: 16px;
    margin-right: 5px;
    margin-top: 5px;
    text-align: center;
    font-weight: 700;
    color: #666
}
.fusioneditor .fusioneditor_size:hover {
    color: #000
}
.fusioneditor .fusioneditor_color {
    height: 22px;
    width: 17px;
    margin-right: 5px;
    margin-top: 5px;
    opacity: .8
}
.fusioneditor .fusioneditor_color:hover {
    border: 1px solid rgba(0, 0, 0, 0) !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    opacity: 1
}
.fusioneditor .fusioneditor_color:active {
    border: 1px solid rgba(0, 0, 0, 0) !important
}
.sidebox_info {
    padding: 5px
}
.sidebox_info td {
    padding: 5px;
    font-size: 10px
}
.sidebox_info td:first-child {
    font-weight: 700
}
.sidebox_info td img {
    margin-right: 5px
}
.sidebox_info center {
    padding-top: 20px;
    padding-bottom: 10px
}
.sidebox_info center a:last-child {
    margin-left: 10px
}
.poll_question {
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    padding: 5px;
    margin-bottom: 5px
}
#poll_answers .poll_answer,
#poll_results .poll_answer {
    padding: 5px;
    font-size: 12px
}
#poll_answers .poll_answer label {
    display: block;
    cursor: pointer
}
#poll_answers .poll_answer label:hover {
    font-weight: 700
}
#poll_answers .poll_answer input[type=radio] {
    margin-right: 5px
}
#poll_results .poll_answer .poll_votes_count {
    float: right;
    font-weight: 700
}
#poll_actions {
    display: block;
    text-align: center;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px
}
#vote_reminder {
    width: 468px;
    height: 60px;
    position: fixed;
    margin-left: -234px;
    left: 50%;
    top: 50%;
    margin-top: -30px;
    background-color: #000;
    z-index: 999999999999;
    display: none
}
.staff_comment .comment_author img {
    margin-top: 3px !important
}
.comment {
    word-wrap: break-word
}
.color-c1 {
    color: #c79c6e
}
.color-c2 {
    color: #f58cba
}
.color-c3 {
    color: #abd473
}
.color-c4 {
    color: #fff569
}
.color-c5 {
    color: #fff
}
.color-c6 {
    color: #c41f3b
}
.color-c7 {
    color: #0070de
}
.color-c8 {
    color: #69ccf0
}
.color-c9 {
    color: #9482c9
}
.color-c11 {
    color: #ff7d0a
}
#ucp_top {
    padding: 5px;
    padding-bottom: 10px
}
#ucp_avatar {
    display: block;
    float: left;
    width: 120px;
    height: 120px
}
#ucp_avatar div {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    text-align: center;
    font-size: 14px;
    background-color: rgba(0, 0, 0, .6);
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: 120px;
    height: 70px;
    padding-top: 50px;
    color: #fff
}
#ucp_avatar:hover div {
    opacity: 1;
    filter: alpha(opacity=100)
}
#ucp_info {
    float: left;
    height: 120px
}
#ucp_info aside {
    float: left;
    width: 250px;
    height: 120px
}
#ucp_info aside table {
    margin-left: auto;
    margin-right: auto
}
#ucp_info aside:first-child {
    margin-right: 20px
}
#ucp_info td {
    padding: 4px
}
#ucp_buttons {
    margin-top: -15px
}
#ucp_buttons a {
    display: block;
    width: 330px;
    height: 93px;
    background-position: 0 0;
    float: left;
    margin-bottom: 15px;
    margin-left: 12px
}
#ucp_buttons a:hover {
    background-position: 0 93px
}
#ucp_characters {
    margin-top: -20px;
    padding-left: 10px;
    padding-right: 10px
}
#ucp_characters a {
    float: left;
    display: block;
    width: 64px;
    height: 64px;
    margin-right: 15px;
    margin-bottom: 15px
}
#ucp_characters h1 {
    clear: both
}
#tooltip,
.tooltip {
    color: #efefef;
    border: 1px solid #777;
    z-index: 9999999;
    border-top: 1px solid #cfcfcf;
    box-shadow: 0 0 3px #000;
    -moz-box-shadow: 0 0 3px #000;
    -webkit-box-shadow: 0 0 3px #000;
    background-color: #070c21;
    background-color: rgba(7, 12, 33, .9)
}
#tooltip img,
.tooltip img {
    vertical-align: top
}
label {
    color: #9c7031;
    cursor: pointer;
    display: inline-block;
    font-size: 14px !important;
    font-family: calibrib;
}
.warfg_input,
.warfg_input:before,
.warfg_input:after,
.warfg_select,
.warfg_select:before,
.warfg_select:after {
    background-color: transparent;
    background-image: url(../images/input-bg-sprite.png);
    background-repeat: no-repeat
}
.warfg_input,
.warfg_select {
    padding: 15px 0;
    background-repeat: repeat-x;
    background-position: 40px -51px
}
.warfg_input:before,
.warfg_input:after,
.warfg_select:before,
.warfg_select:after {
    width: 33px;
    height: 100%;
    top: 0;
    content: "";
    position: absolute
}
.warfg_input:before,
.warfg_select:before {
    left: 0;
    background-position: 0 -1px
}
.warfg_input:after,
.warfg_select:after {
    right: 0;
    background-position: -41px -1px
}
.warfg_input input[type=text],
.warfg_input input[type=password],
.warfg_input input[type=email],
.warfg_input input[type=file],
.warfg_select select {
    margin: 5px !important;
    z-index: 9
}
select,
textarea,
input[type=file],
input[type=text],
input[type=email],
input[type=password] {
    color: #9c7031;
    border: none;
    padding: 8px;
    font-size: 12px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: inset 0 0 5px 0 rgba(21, 18, 17, .7), 0 0 2px 0 rgba(178, 163, 160, .04);
    -moz-box-shadow: inset 0 0 5px 0 rgba(21, 18, 17, .7), 0 0 2px 0 rgba(178, 163, 160, .04);
    -webkit-box-shadow: inset 0 0 5px 0 rgba(21, 18, 17, .7), 0 0 2px 0 rgba(178, 163, 160, .04);
    font-family: calibrib;
    text-shadow: 0 1px 1px #f6bb42;
    background-color: #0e0c0b;
    background-color: rgba(13, 12, 11, .9)
}
textarea:focus,
input[type=file]:focus,
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    color: #60514e;
    box-shadow: inset 0 0 5px 0 rgba(21, 18, 17, .7), 0 0 2px 1px rgba(159, 145, 132, .35);
    -moz-box-shadow: inset 0 0 5px 0 rgba(21, 18, 17, .7), 0 0 2px 1px rgba(159, 145, 132, .35);
    -webkit-box-shadow: inset 0 0 5px 0 rgba(21, 18, 17, .7), 0 0 2px 1px rgba(159, 145, 132, .35)
}
textarea {
    width: auto;
    height: auto;
    resize: none !important;
    transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s
}
select {
    width: 80%;
    margin: 5px;
    cursor: pointer;
    text-align: left;
    appearance: none;
    -o-appearance: none;
    -khtml-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    text-indent: .01px;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    text-overflow: "";
    background-image: url(../images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: 99.3% 3px;
    transition: color ease-in-out .3s;
    -o-transition: color ease-in-out .3s;
    -ms-transition: color ease-in-out .3s;
    -moz-transition: color ease-in-out .3s;
    -webkit-transition: color ease-in-out .3s
}
select::-ms-expand {
    display: none
}
select:focus {
    color: #60514e;
    background-position: 99.3% -34px
}
select option,
select optgroup {
    text-transform: capitalize
}
input[type=text],
input[type=password],
input[type=email],
input[type=file] {
    width: 80%;
    margin: 5px;
    transition: color ease-in-out .3s, box-shadow ease-in-out .3s;
    -o-transition: color ease-in-out .3s, box-shadow ease-in-out .3s;
    -ms-transition: color ease-in-out .3s, box-shadow ease-in-out .3s;
    -moz-transition: color ease-in-out .3s, box-shadow ease-in-out .3s;
    -webkit-transition: color ease-in-out .3s, box-shadow ease-in-out .3s
}
input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 1000px #0d0c0b !important;
    -webkit-text-fill-color: #221d1b
}
input:-webkit-autofill:focus {
    -webkit-box-shadow: inset 0 0 0 1000px #0d0c0b, 0 0 2px 1px #9f9184 !important;
    -webkit-text-fill-color: #60514e
}
*:input-placeholder {
    color: #3e3a33
}
*:-o-input-placeholder {
    color: #3e3a33
}
*:-ms-input-placeholder {
    color: #3e3a33
}
*:-moz-placeholder {
    color: #3e3a33
}
*::-webkit-input-placeholder {
    color: #3e3a33
}
.warfg_input+.clear+[id$=_error] {
    top: 14px;
    right: 0;
    position: absolute
}
.page_form input[type=submit],
.page_form .warfg_btn {
    margin-top: 20px
}
#ucp_info aside:first-child {
    background-color: transparent;
    background-image: url(../images/vertical_divider.png);
    background-repeat: no-repeat;
    background-position: right top
}
#ucp_info aside:nth-child(3) {
    background-color: transparent;
    background-image: url(../images/vertical_divider.png);
    background-repeat: no-repeat;
    background-position: left top
}
#ucp_info aside:last-child {
    border-right: none !important
}
#ucp_info td {
    font-size: 10px
}
#ucp_info td:nth-child(2) {
    font-weight: 700
}
.online_realm_button,
#ucp_characters>h1 {
    width: 100%;
    clear: both;
    color: #766e64;
    border: 1px #212120 solid;
    border: 1px rgba(255, 255, 255, .02) solid;
    padding: 15px;
    font-size: 12px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    font-weight: 700;
    line-height: initial !important;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5), 0 0 5px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .7);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    letter-spacing: 0;
    background-color: #1e1e1d;
    background-color: rgba(255, 255, 255, .05);
    transition: color .4s, box-shadow .4s, background .4s;
    -o-transition: color .4s, box-shadow .4s, background .4s;
    -ms-transition: color .4s, box-shadow .4s, background .4s;
    -moz-transition: color .4s, box-shadow .4s, background .4s;
    -webkit-transition: color .4s, box-shadow .4s, background .4s
}
.online_realm_button:before,
#ucp_characters>h1:before {
    width: 100%;
    height: 50%;
    left: 0;
    bottom: 0;
    content: "";
    position: absolute;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .1) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .1) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, .1) 0%, rgba(0, 0, 0, .1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#1a000000', endColorstr='#1a000000', GradientType=0)
}
.online_realm_button:hover,
#ucp_characters>h1:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);
    -moz-box-shadow: 0 0 15px rgba(0, 0, 0, .6);
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .6);
    background-color: #20201f;
    background-color: rgba(255, 255, 255, .06)
}
.nice_table tr:not(:first-child) td {
    padding: 15px 0 0
}
.nice_table tr:first-child td {
    color: #a07332;
    font-size: 12px;
    box-shadow: 0 1px 0 0 #000, 0 2px 0 0 #282625;
    -moz-box-shadow: 0 1px 0 0 #000, 0 2px 0 0 #282625;
    -webkit-box-shadow: 0 1px 0 0 #000, 0 2px 0 0 #282625;
    font-weight: 700;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-shadow: 0 0 4px rgba(0, 0, 0, .3), 0 2px 0 #000
}
.nice_table td {
    vertical-align: middle
}
.fusioneditor {
    padding: 2px;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .24), 0 1px 0 rgba(255, 255, 255, .03);
    -moz-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .24), 0 1px 0 rgba(255, 255, 255, .03);
    -webkit-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .24), 0 1px 0 rgba(255, 255, 255, .03);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #0b0b0b;
    background-color: rgba(0, 0, 0, .35)
}
.fusioneditor .fusioneditor_tools {
    zoom: 1;
    color: #3d4346;
    border: none;
    overflow: hidden;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .24), inset 0 0 0 1px rgba(255, 255, 255, .01), inset 0 -1px 0 rgba(255, 255, 255, .02);
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, .24), inset 0 0 0 1px rgba(255, 255, 255, .01), inset 0 -1px 0 rgba(255, 255, 255, .02);
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, .24), inset 0 0 0 1px rgba(255, 255, 255, .01), inset 0 -1px 0 rgba(255, 255, 255, .02);
    line-height: 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: transparent;
    background-image: url(../images/bar-bg.png);
    background-repeat: repeat;
    background-position: top left
}
.fusioneditor .fusioneditor_tools a {
    zoom: 1;
    border: none !important;
    overflow: hidden;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .03), 0 1px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .03), 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .03), 0 1px 1px rgba(0, 0, 0, .3);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #262521;
    background-color: rgba(155, 150, 137, .08);
    transition: all 0ms;
    -o-transition: all 0ms;
    -ms-transition: all 0ms;
    -moz-transition: all 0ms;
    -webkit-transition: all 0ms
}
.fusioneditor .fusioneditor_tools a:hover {
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .03), 0 1px 1px rgba(0, 0, 0, .3);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .03), 0 1px 1px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .03), 0 1px 1px rgba(0, 0, 0, .3);
    background-color: #161614;
    background-color: rgba(0, 0, 0, .2)
}
.fusioneditor .fusioneditor_tools a:active {
    background-color: #161614;
    background-color: rgba(0, 0, 0, .2)
}
.fusioneditor .fusioneditor_field {
    color: #e5e4e4;
    border: 0 !important;
    margin: 5px;
    resize: none;
    cursor: text;
    padding: 0;
    font-size: 13px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    background-color: transparent
}
.fusioneditor .fusioneditor_field b {
    font-weight: 700
}
.fusioneditor .fusioneditor_toolbox {
    border-top: #0b0b0b;
    border-top: 2px rgba(0, 0, 0, .35) solid
}
#ucp_top {
    width: 686px;
    color: #a9a190;
    margin: 0 auto 15px auto;
    padding: 15px !important;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 5px 1px #181515, inset 0 1px 0 0 rgba(87, 82, 82, .5);
    -moz-box-shadow: 0 0 5px 1px #181515, inset 0 1px 0 0 rgba(87, 82, 82, .5);
    -webkit-box-shadow: 0 0 5px 1px #181515, inset 0 1px 0 0 rgba(87, 82, 82, .5);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #242020
}
#staff_ucp_info {
    width: 686px;
    color: #a9a190;
    margin: 15px auto;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 5px 1px #181515, inset 0 1px 0 0 rgba(87, 82, 82, .5);
    -moz-box-shadow: 0 0 5px 1px #181515, inset 0 1px 0 0 rgba(87, 82, 82, .5);
    -webkit-box-shadow: 0 0 5px 1px #181515, inset 0 1px 0 0 rgba(87, 82, 82, .5);
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background-color: #182328;
    background-color: rgba(9, 59, 77, .3)
}
#staff_ucp_info:before {
    width: 100%;
    height: 100%;
    top: -100%;
    left: -5%;
    content: "";
    position: absolute;
    background-size: auto 100%;
    background-color: transparent;
    background-image: url(../images/blizzard_logo.png);
    background-repeat: no-repeat;
    background-position: top left;
    transform: rotate(-17deg);
    -o-transform: rotate(-17deg);
    -ms-transform: rotate(-17deg);
    -moz-transform: rotate(-17deg);
    -webkit-transform: rotate(-17deg)
}
#staff_ucp_info td {
    padding: 4px;
    font-size: 12px
}
#staff_ucp_info td:nth-child(2) {
    font-weight: 700
}
#pm_username_autocomplete {
    width: 100% !important;
    color: #a9a8a8;
    border: none !important;
    font-size: 12px;
    box-shadow: 0 0 0 1px #000, inset 0 0 8px 0 rgba(0, 0, 0, .4), 0 0 3px 0 rgba(255, 255, 255, .35), 0 3px 0 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 0 1px #000, inset 0 0 8px 0 rgba(0, 0, 0, .4), 0 0 3px 0 rgba(255, 255, 255, .35), 0 3px 0 0 rgba(0, 0, 0, .75);
    -webkit-box-shadow: 0 0 0 1px #000, inset 0 0 8px 0 rgba(0, 0, 0, .4), 0 0 3px 0 rgba(255, 255, 255, .35), 0 3px 0 0 rgba(0, 0, 0, .75);
    font-weight: 700;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-shadow: 0 0 4px rgba(0, 0, 0, .3), 0 2px 0 #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #131313 !important
}
#pm_username_autocomplete a {
    border: none !important;
    box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .4), 0 0 1px 0 rgba(255, 213, 146, .4), 0 3px 0 0 rgba(0, 0, 0, .75);
    -moz-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .4), 0 0 1px 0 rgba(255, 213, 146, .4), 0 3px 0 0 rgba(0, 0, 0, .75);
    -webkit-box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, .4), 0 0 1px 0 rgba(255, 213, 146, .4), 0 3px 0 0 rgba(0, 0, 0, .75);
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px
}

.sbHolder {
    width: 80%;
    height: 34px;
    min-height: 34px;
    max-height: 34px;
    color: #221d1b;
    cursor: pointer;
    margin: 5px 5px 8px;
    padding: 8px;
    display: inline-block;
    position: relative;
    font-size: 12px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-align: left;
    font-family: calibrib;
    vertical-align: middle
}
.sbHolder a {
    float: none !important;
    margin: 0 !important
}
.sbHolder .sbToggle {
    width: 31px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 9;
    position: absolute;
    background-color: transparent;
    background-image: url(../images/select-arrow.png);
    background-repeat: no-repeat;
    background-position: 0 3px
}
.sbHolder .sbToggle.sbToggleOpen {
    background-position: 0 -34px
}
.sbHolder .sbSelector {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    color: #221d1b !important;
    overflow: hidden;
    position: absolute;
    line-height: 34px;
    text-indent: 8px;
    box-shadow: inset 0 0 5px 0 rgba(21, 18, 17, .7), 0 0 2px 0 rgba(178, 163, 160, .04);
    -moz-box-shadow: inset 0 0 5px 0 rgba(21, 18, 17, .7), 0 0 2px 0 rgba(178, 163, 160, .04);
    -webkit-box-shadow: inset 0 0 5px 0 rgba(21, 18, 17, .7), 0 0 2px 0 rgba(178, 163, 160, .04);
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    background-color: #0e0c0b;
    background-color: rgba(13, 12, 11, .9);
    transition: color ease-in-out .3s;
    -o-transition: color ease-in-out .3s;
    -ms-transition: color ease-in-out .3s;
    -moz-transition: color ease-in-out .3s;
    -webkit-transition: color ease-in-out .3s
}
.sbHolder .sbToggle.sbToggleOpen+.sbSelector {
    color: #60514e !important
}
.sbHolder .sbOptions {
    width: 100%;
    max-height: 155px !important;
    left: 0;
    cursor: default;
    margin: 2px 0 0;
    z-index: 99;
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: inset 0 0 0 1px #1f1a19, 0 0 10px 1px #1a1615, inset 0 2px 0 1px #302a27;
    -moz-box-shadow: inset 0 0 0 1px #1f1a19, 0 0 10px 1px #1a1615, inset 0 2px 0 1px #302a27;
    -webkit-box-shadow: inset 0 0 0 1px #1f1a19, 0 0 10px 1px #1a1615, inset 0 2px 0 1px #302a27;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #292322
}
.sbHolder .sbOptions li {
    width: 95%;
    margin: 0 auto;
    border-bottom: 1px #211c1b solid
}
.sbHolder .sbOptions li:last-child {
    border: none
}
.sbHolder .sbOptions li a {
    color: #665c54;
    display: block;
    padding: 10px;
    transition: color ease-in-out .3s;
    -o-transition: color ease-in-out .3s;
    -ms-transition: color ease-in-out .3s;
    -moz-transition: color ease-in-out .3s;
    -webkit-transition: color ease-in-out .3s
}
.sbHolder .sbOptions li a:hover,
.sbHolder .sbOptions li a:focus,
.sbHolder .sbOptions li a.sbFocus {
    color: #7e756c
}
.sbHolder .sbOptions li span.sbDisabled {
    color: #444;
    display: block;
    padding: 10px;
    background-color: #0e0e0e
}
.sbHolder .sbOptions .sbGroup {
    color: #ebb52d;
    display: block;
    padding: 10px;
    font-weight: 700
}
.sbHolder .sbOptions .sbSub {
    padding-left: 17px
}
.sbHolder.sbHolderDisabled {
    opacity: .8
}
.icheckbox,
.iradio {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    background-image: url(../images/radio-checkbox.png);
    background-repeat: no-repeat
}
.icheckbox.disabled,
.iradio.disabled {
    cursor: default
}
.icheckbox {
    width: 30px;
    height: 31px;
    margin: -5px 0 0;
    background-position: 0 0
}
.icheckbox.hover {
    background-position: 0 -31px
}
.icheckbox.checked {
    background-position: 0 -62px
}
.icheckbox.disabled {
    background-position: 0 -93px
}
.icheckbox.checked.disabled {
    background-position: 0 -124px
}
.iradio {
    width: 28px;
    height: 30px;
    margin: 0 10px 0 0;
    background-position: -30px -1px
}
.iradio.hover {
    background-position: -30px -32px
}
.iradio.checked {
    background-position: -30px -63px
}
.iradio.disabled {
    background-position: -30px -94px
}
.iradio.checked.disabled {
    background-position: -30px -125px
}
#sb-title-inner,
#sb-info-inner,
#sb-loading-inner,
div.sb-message {
    color: #fff;
    font-weight: 200;
    font-family: "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif
}
#sb-container {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    display: none;
    z-index: 99999999;
    position: fixed;
    text-align: left;
    visibility: hidden;
    background-color: #000;
    background-color: rgba(0, 0, 0, .5)
}
#sb-overlay {
    width: 100%;
    height: 100%;
    position: relative
}
#sb-wrapper {
    width: 100px;
    position: absolute;
    visibility: hidden
}
#sb-wrapper-inner {
    height: 100px;
    border: 1px solid #cf4625;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px #000;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px
}
#sb-body {
    height: 100%;
    position: relative
}
#sb-body-inner {
    width: 100%;
    height: 100%;
    position: absolute
}
#sb-player.html {
    height: 100%;
    overflow: auto
}
#sb-body img {
    border: none
}
#sb-loading {
    height: 100%;
    position: relative
}
#sb-loading-inner {
    width: 100%;
    height: 24px;
    top: 50%;
    color: #cf4625;
    position: absolute;
    font-size: 14px;
    margin-top: -12px;
    text-align: center;
    line-height: 24px
}
#sb-loading-inner span {
    width: 24px;
    height: 24px;
    display: inline-block;
    padding-top: 4px;
    padding-left: 30px;
    background-color: transparent;
    background-image: url(../images/loading.gif);
    background-repeat: no-repeat;
    background-position: left center
}
#sb-body,
#sb-loading {
    background-color: #060606
}
#sb-title,
#sb-info {
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative
}
#sb-title,
#sb-title-inner {
    height: 26px;
    color: #cf4625;
    line-height: 26px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .9), 0 0 3px rgba(0, 0, 0, .9), 0 0 5px rgba(0, 0, 0, .9)
}
#sb-title-inner {
    font-size: 16px
}
#sb-info,
#sb-info-inner {
    height: 20px;
    line-height: 20px
}
#sb-info-inner {
    font-size: 12px
}
#sb-nav {
    width: 45%;
    float: right;
    height: 16px;
    padding: 2px 0
}
#sb-nav a {
    width: 16px;
    height: 16px;
    float: right;
    cursor: pointer;
    display: block;
    margin-left: 3px;
    background-repeat: no-repeat
}
#sb-nav-close {
    background-image: url(../images/close.png)
}
#sb-nav-next {
    background-image: url(../images/next.png)
}
#sb-nav-previous {
    background-image: url(../images/previous.png)
}
#sb-nav-play {
    background-image: url(../images/play.png)
}
#sb-nav-pause {
    background-image: url(../images/pause.png)
}
#sb-counter {
    width: 45%;
    float: left
}
#sb-counter a {
    color: #fff;
    cursor: pointer;
    padding: 0 4px 0 0;
    text-decoration: none
}
#sb-counter a.sb-counter-current {
    text-decoration: underline
}
div.sb-message {
    padding: 10px;
    font-size: 12px;
    text-align: center
}
div.sb-message a:link,
div.sb-message a:visited {
    color: #fff;
    text-decoration: underline
}
#ucp_top.warfg_account {
    width: 664px;
    margin: 0 5px 15px auto;
    padding: 15px 15px 15px 0 !important;
    border-radius: 20% 3px 3px 20%;
    -moz-border-radius: 20% 3px 3px 20%;
    -webkit-border-radius: 20% 3px 3px 20%
}
#ucp_top.warfg_account #ucp_avatar {
    margin: 1px 26px 0 -26px;
    z-index: 9;
    overflow: hidden;
    transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    border-style: solid;
    border-width: 3px;
    border-color: #d7962b #dfc68a #dfc68a #d7962b;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: transform .5s ease-in-out, border .5s ease-in-out;
    -o-transition: transform .5s ease-in-out, border .5s ease-in-out;
    -ms-transition: transform .5s ease-in-out, border .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out, border .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out, border .5s ease-in-out
}
#ucp_top.warfg_account #ucp_avatar:hover {
    transform: rotate(0);
    -o-transform: rotate(0);
    -ms-transform: rotate(0);
    -moz-transform: rotate(0);
    -webkit-transform: rotate(0);
    border-color: #dfc68a #dfc68a #d7962b #d7962b
}
#ucp_top.warfg_account #ucp_avatar>div {
    z-index: 9
}
#ucp_top.warfg_account #ucp_info {
    margin: 8px 0 0
}
.accoun_panel_menu {
    width: 100%;
    height: auto;
    margin: -25px 0 10px;
    display: block
}
.accoun_panel_menu li {
    width: 350px;
    height: 127px;
    float: left;
    margin: 0 4px 0 -2px
}
.accoun_panel_menu .last-col {
    margin: 0
}
.accoun_panel_menu li a {
    width: 100%;
    height: 100%;
    display: block;
    padding: 19px;
    background-color: transparent;
    background-image: url(../images/account_btn.png);
    background-repeat: no-repeat;
    background-position: 0 0
}
.accoun_panel_menu li a:before {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    content: "";
    position: absolute;
    background-color: transparent;
    background-image: url(../images/account_btn_hover.png);
    background-repeat: no-repeat;
    background-position: 0 100%;
    transition: opacity .4s ease-in-out;
    -o-transition: opacity .4s ease-in-out;
    -ms-transition: opacity .4s ease-in-out;
    -moz-transition: opacity .4s ease-in-out;
    -webkit-transition: opacity .4s ease-in-out
}
.accoun_panel_menu li:hover a:before {
    opacity: 1
}
.accoun_panel_menu li a .icon {
    width: 74px;
    height: 74px;
    margin: 6px 0 0 6px;
    padding: 9px;
    display: inline-block;
    vertical-align: top;
    background-position: 0 -112px
}
.accoun_panel_menu li a .icon img {
    margin: 0 auto;
    border: 2px #2b2724 solid;
    display: block;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px
}
.accoun_panel_menu li a .icon:before {
    width: 58px;
    height: 58px;
    top: 8px;
    left: 8px;
    z-index: 9;
    content: "";
    position: absolute;
    box-shadow: inset 0 0 10px 1px #1e1916;
    -moz-box-shadow: inset 0 0 10px 1px #1e1916;
    -webkit-box-shadow: inset 0 0 10px 1px #1e1916;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    transition: box-shadow .4s ease-in-out;
    -o-transition: box-shadow .4s ease-in-out;
    -ms-transition: box-shadow .4s ease-in-out;
    -moz-transition: box-shadow .4s ease-in-out;
    -webkit-transition: box-shadow .4s ease-in-out
}
.accoun_panel_menu li:hover a .icon:before {
    box-shadow: inset 0 0 10px 1px #1e1916, 0 0 0 1px #b3a796;
    -moz-box-shadow: inset 0 0 10px 1px #1e1916, 0 0 0 1px #b3a796;
    -webkit-box-shadow: inset 0 0 10px 1px #1e1916, 0 0 0 1px #b3a796
}
.accoun_panel_menu li a span {
    color: #c6af93;
    margin: 15px 0 0 10px;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    text-shadow: 0 4px 2px rgba(0, 0, 0, .5);
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out
}
.accoun_panel_menu li:hover a span {
    color: #e5d5c0
}
.accoun_panel_menu li a span i {
    color: #847465;
    margin: 5px 0 0;
    display: block;
    font-size: 13px;
    font-style: inherit;
    transition: color .4s ease-in-out;
    -o-transition: color .4s ease-in-out;
    -ms-transition: color .4s ease-in-out;
    -moz-transition: color .4s ease-in-out;
    -webkit-transition: color .4s ease-in-out
}
.accoun_panel_menu li:hover a span i {
    color: #ac9a88
}
::selection {
    color: #fff;
    background-color: #ff8c00
}
::-moz-selection {
    color: #fff;
    background-color: #ff8c00
}
#nickname_field,
#location_field,
#login_username,
#login_password,
.sbHolder .sbSelector {
    color: #534846
}
#armory_stats_next {
    top: -15px
}
#discord_banner {
    width: 256px;
    height: 120px;
    display: block;
    position: relative;
    margin: -5px 15px -51px;
    background-image: url(https://wurf-games.com../images/extra/discord.png);
    background-color: transparent;
    background-repeat: no-repeat!important;
    -webkit-filter: contrast(100%);
    transition: .5s ease-out
}
.accoun_panel_menu li a {
    height: 86px;
    width: 310px
}
.accoun_panel_menu li a:before {
    top: 8px;
    height: 119px;
    width: 350px
}
.character_buttons,
.tool_buttons {
    bottom: 17px
}
.teleport_realm_divider {
    width: 100%;
    clear: both;
    color: #766e64;
    border: 1px #212120 solid;
    border: 1px rgba(255, 255, 255, .02) solid;
    padding: 15px;
    font-size: 12px;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5);
    font-weight: 700;
    line-height: initial!important;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5), 0 0 5px rgba(0, 0, 0, .2), 0 1px 1px rgba(0, 0, 0, .7);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    letter-spacing: 0;
    background-color: #1e1e1d;
    background-color: rgba(255, 255, 255, .05);
    transition: color .4s, box-shadow .4s, background .4s;
    -o-transition: color .4s, box-shadow .4s, background .4s;
    -ms-transition: color .4s, box-shadow .4s, background .4s;
    -moz-transition: color .4s, box-shadow .4s, background .4s;
    -webkit-transition: color .4s, box-shadow .4s, background .4s;
    text-align: center
}
#page_recruitafriend>div.page_body>p>span>input {
    color: #5a4f4c
}
.guide_title {
    color: #f60;
    font-size: 125%;
    text-align: left;
    margin: 0
}
.guide_text {
    color: #9c8872;
    margin: 0 0 0 20px
}
.guide_text_realmlist {
    color: #da412a;
    text-align: center;
    margin: 0 0 5px;
    font-size: 115%;
    background: #2e2524
}
.guide_subtitle {
    color: #efcd84;
    font-size: 110%;
    margin: 0 0 0 10px
}
#sidebox_toppvp .sidebox_body #toppvp .toppvp_realm .toppvp_data .toppvp_character div {
    font-size: 14px;
    font-weight: bolder
}
#sidebox_toppvp .sidebox_body #toppvp .toppvp_realm .toppvp_data .toppvp_character a,
#toppvp>div {
    font-size: 18px;
    font-weight: bolder
}
#page_page>div.page_body>div:nth-child(2)>a>img,
#page_page>div.page_body>div:nth-child(6)>a>img {
    width: 100%;
    border-radius: 13px;
    border: 1px solid
}
#vote>tbody>tr:nth-child(10)>td:nth-child(1)>img {
    width: 88px;
    height: 51px
}
#current-lottery-status {
    font-size: 16px
}
#current-lottery-status>table>tbody>tr>td {
    font-size: 13px
}
