<h2 class="title">Hi</h2>
<div class="entry">
	<div style="text-align: center; font-weight: bold;">
		<strong>
	You can change this description in file templates/loleslav/description.html.twig<br/><br/>
	What offers this OTS:<br/>
		<br/>
		- Free PACC ( must not send any sms)<br/>
		- Stable dedicated server<br/>
		- Frequent update<br/>
		- Great map<br/>
		<br/>
... and many, many more. Join us today!</strong><br/><br/>
		Welcome! - <a href="{{ getLink('account/create') }}">&raquo;Create Account
	&laquo;</a>
	</div>
</div>
