<div class="ui hidden section divider"></div>
<div class="row">
	<div class="ui center aligned container">
		<h1 class="ui huge header">Welcome to {{ config.lua.serverName }}</h1>
		<p>
			Welcome to our awesome server.
			You can edit this description in <strong>templates/semantic/info-box.html.twig</strong>
		</p>
		<a href="{{ getLink('account/create') }}"><button class="ui massive blue button">Create Account today!</button></a>
	</div>
</div>
<div class="ui hidden section divider"></div>
<div class="ui hidden section divider"></div>
