<div class="container">
	<div>
		<h1>
			Delete Character
		</h1>
		To delete a character enter the name of the character and your password.
	</div>
	<form action="{{ getLink('account/character/delete') }}" method="post">
		<input type="hidden" name="deletecharactersave" value="1"/>
		<div class="row">
			<label for="delete_name" class="col col-form-label">Character Name:</label>
			<div class="col">
				<select class="form-select form-control" name="delete_name" id="delete_name">
					<option value="">Select character</option> 

					{% for player in players %}

						<option value="{{ player.getName() }}">{{ player.getName() }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="row">
			<label for="delete_password" class="col col-form-label">Password:</label>
			<div class="col">
				<input type="password" name="delete_password" id="delete_password" size="30" maxlength="29"/>
			</div>	
		</div>	
		<div class="row">
			<div class="col">
				<button type="submit" class="btn " name="Submit" value="Submit"/>Submit</button>
			</div>
		</div>
	</form>
</div>