<div>
	<form action="{{ getLink('account/password') }}" method="post">
		<div>
			<h1>Change Password</h1>
		</div>
		<div>
			Please enter your current password and a new password. For your security, please enter the new password twice.<br/>
		</div>
		<div>
			<div class="row">
				<label for="newpassword" class="col-form-label">New password</label>
				<div class="col">
					<input class="form-control" type="password" name="newpassword" id="newpassword" size="30" maxlength="29"/>
				</div>
			</div>
			<div class="row">
				<label for="newpassword" class="col-form-label">New password again</label>
				<div class="col">
					<input class="form-control" type="password" name="newpassword2" id="newpassword2"size="30" maxlength="29"/>
				</div>
			</div>
			<div class="row">
				<label for="oldpassword" class="col-form-label">Current Password</label>
				<div class="col">
					<input class="form-control" type="password" name="oldpassword" id="oldpassword" size="30" maxlength="29"/>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<input type="hidden" name="changeemailsave" value="1"/>
					<button type="submit" class="btn btn-secondary" name="Submit" value="Submit" />Submit</button>
				</div>
			</div>
		</div>
	</form>
</div>
