<div class="container">
	<form action="{{ getLink('account/register/new') }}" method="post" class="align-items-center">
		<div>
			<h1>Generate new recovery key</h1>
		</div>
        <div>
			To generate new recovery key for your account please enter your password.<br/>
		</div>
		<div>
			<span style="color: red"><b>New recovery key cost {{ config.generate_new_reckey_price }} Premium Points.</span> You have {{ points }} premium points. You will receive e-mail with this recovery key.</b><br/>
		</div>
		<div>
			<div class="row mb-3">
				<label for="newpassword" class="col-sm-2 col-form-label">Password</label>
				<div class="col-auto">
					<input type="password" name="reg_password" size="30" maxlength="29" autofocus/>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-auto">
					<input type="hidden" name="changeemailsave" value="1"/>
					<button type="submit" class="btn">Submit</button>
					<a class="btn" href="{{ getLink('account/manage') }}">Back</a>
				</div>
			</div>
		</div>
	</form>
</div>
