<div class="container">
	<form action="{{ getLink('account/email') }}" method="post">
		<div>
			<h1>Change Email Address</h1>
		</div>
		<div>
			Please enter your password and the new email address. Make sure that you enter a valid email address which you have access to.
			<br/><b>For security reasons, the actual change will be finalised after a waiting period of
				{{ config.account_mail_change }}
				days.</b><br/><br/>
		</div>
		<div>
			<div class="row mb-3">
				<label for="new_email" class="col-sm-3 col-form-label">New Email Address</label>
				<div class="col-sm-3">
					<input type="email" class="form-control" name="new_email" id="new_email" value="{% if new_email is defined %}{{ new_email }}{% endif %}" size="30" maxlength="50" autofocus/>
				</div>
			</div>
			<div class="row mb-3">
				<label for="email_password" class="col-sm-3 col-form-label">Password</label>
				<div class="col-sm-3">
					<input class="form-control" type="password" name="password" id="email_password" size="30" maxlength="29">
				</div>
			</div>
			<div class="row mb-3">
				<div class="col">
					<input type="hidden" name="changeemailsave" value="1"/>
					<button type="submit" class="btn">Submit</button>
					<a class="btn" href="{{ getLink('account/manage') }}">Back</a>
				</div>
			</div>
		</div>
	</form>
</div>
