<div class="container">
	<form action="{{ getLink('account/password') }}" method="post" class="align-items-center">
		<div>
			<h1>Change Password</h1>
		</div>
		<div>
			Please enter your current password and a new password. For your security, please enter the new password twice.<br/><br/>
		</div>
		<div>
			<div class="row mb-3">
				<label for="newpassword" class="col-sm-2 col-form-label">New password</label>
				<div class="col-auto">
					<input class="form-control" type="password" name="newpassword" id="newpassword" size="30" maxlength="29"/>
				</div>
			</div>
			<div class="row mb-3">
				<label for="newpassword2" class="col-sm-2 col-form-label">New password again</label>
				<div class="col-auto">
					<input class="form-control" type="password" name="newpassword2" id="newpassword2" size="30" maxlength="29"/>
				</div>
			</div>
			<div class="row mb-3">
				<label for="oldpassword" class="col-sm-2 col-form-label">Current Password</label>
				<div class="col-auto">
					<input class="form-control" type="password" name="oldpassword" id="oldpassword" size="30" maxlength="29"/>
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-auto">
					<input type="hidden" name="changeemailsave" value="1"/>
					<button type="submit" class="btn">Submit</button>
					<a class="btn" href="{{ getLink('account/manage') }}">Back</a>
				</div>
			</div>
		</div>
	</form>
</div>
