<br/>
<form action="{{ link }}" method="post" class="form-inline">
	<div class="form-group">
			<label for="characterSearch">Name:</label>
			<input type="text" placeholder="Character name" name="name" id="characterSearch" value="" maxlength="29">				
	</div>
	<button type="submit" class="btn btn-secondary mb-2">Search</button>
</form>