</br>
<form class="row g-1" action="?subtopic=guilds&action=invite&guild={{ guild_name }}&todo=save" method="post">
	<div class="col-auto">
		<input type="text" name="name" id="name" placeholder="Playername..">
	</div>
	<div class="col-auto">
		<input type="submit" name="Submit" value="Submit" class="btn btn-secondary">
	</div>
</form>