<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
       /* Add custom classes and styles that you want inlined here */
    </style>
    <preview>{{ config.lua.serverName }}: Password to account changed!</preview>
  </head>
  <body class="bg-dark">
    <div class="container">
      <div class="card my-5">
        <div class="card-body">
          <h1>Password to account changed!</h1>
          <h5 class="text-muted mb-2">You or someone else changed password to your account on server <a href="{{ constant('BASE_URL') }}"><b>{{ config.lua.serverName }}</b></a></h5>
          <span>New password: <b>{{ new_password }}</b><br>
        </div>
      </div>
    </div>
  </body>
</html>