<br/>
<form action="{{ getLink('characters') }}" method=post class="form-inline">
	<div class="form-group col-sm-4">
		<label class="col-form-label" for="characterSearch">Search Character</label>
		<input type="text" placeholder="Character name" name="name" id="characterSearch" value="" maxlength="29">					
	</div>
	<br>
	<button type="submit" class="btn  mb-2">Search</button>	
</form>